body{
    width:70%;
    height:300px;
    position:absolute;
    left:30%;
    top:25%;
    margin-left:0px;
    margin-top:-150px;
}

#header_section{
    margin: 0 0 15px -10px;
    width: 61%;
}

#header_section > button{
    float: left;
    margin-left: 10px;
    border:none;
    outline: none;
    width: 30px;
    height: 25px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#header_section > button:hover{
    background-color:#bfefcf;
}

#footer{
    background-color:white;
    width: 60%;
    height:30px;
    margin: -4px 0 0 0;
    border: 1px solid black;
    text-align: center;
    border-top: none;
}

#toEdit,#toHtml,#toPreView{
    background-color: white;
    display:flex; 
    line-height:30px; 
    width: 15%; 
    height: 30px;
    float:left;
    justify-content: center;
    border-right: 1px solid black; 
    cursor: pointer;
    
}
#reSizeDiv{
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: top;
    font-size: 0px;
    height: 12px;
    width: 808px;
}
#resSizeInnerDiv{
    margin: 0px 0px -5px;
    padding: 0px;
    height: 2px;
    line-height: 0;
    font-size: 0px;
    border: 1px solid rgb(206, 211, 218);
    background-color: rgb(238, 238, 238);
}
#resizeBtn{
    outline: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    cursor: row-resize;
    width: 60%;
    height: 12px;
    text-align: center;
    border: 0px solid rgb(0, 0, 0);
    background: url("http://comp.namoeditor.co.kr/ce4/demo/crosseditor/images/resizebar.png") center 0px no-repeat;
}

#boxId{
    border-radius: 1px solid black; 
    float:right;
    width: 150px;
    height: 23px;
    text-align-last: center;
    text-align: center; 
}

#output{
    background-color: #ffffff;
    border: 1px solid black;
    width: 60%;
    height: 350px;
}


#boldId,#italicId,#underlineId,#strikeId {
    box-shadow: 0px -3px rgba(0,0,0,0.5);

}

#editorTextId{
    position: relative;
    left:25%;
}

#getValue, #setValue ,#getBodyValue, #setBodyValue{
    margin : 10px 10px 20px 10px;
    width: 200px;
    height: 30px;

    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
#getValue, #setValue{
    background-color: #ff4757;
}
#getBodyValue, #setBodyValue{
    background-color: #5352ed;
}

#creText{
    width: 100%;
    height: 200px;;
    outline: none;
    border: 1px solid black;;
}

#header_section>.changeBold{
    box-shadow: 0px -3px rgba(0,0,0,0.5);
}
#header_section > .changeItalic {
    box-shadow: 0px -3px rgba(0,0,0,0.5);
}
#header_section > .changeUnderline{
    box-shadow: 0px -3px rgba(0,0,0,0.5);
}
#header_section > .changeStrike{
    box-shadow: 0px -3px rgba(0,0,0,0.5);
}

@media screen and (max-width:1100px){
    #footer{
        font-size: 10px;
    }
    #output{
        position: relative;
    }
    #reSizeDiv{
        display: none;
    }
    #getValue, #setValue ,#getBodyValue, #setBodyValue{
        font-size: 10px;
        width: 91px;
    }
}

@media screen and (max-width:840px) {
    #boxId{
        width:100px;
    }
}

#modal{
    position: absolute;
    z-index: 1;
    left: 20%;
    top:35%;
    display: none;
}

.modal-content{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 250px;
    height:100px;
	box-shadow: 0 4px 9px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
	animation-name: animatetop;
	animation-duration: 0.4s;
	
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
}

/* 애니메이션 효과 */
@keyframes animatetop{
	from{top:-300px; opacity: 0;}
	to{top:0; opacity: 1;} /* 투명했던 애를 불투명하게 하겠다 */
}
@-webkit-keyframes animatetop{
	from{top:-300px; opacity: 0;}
	to{top:0; opacity: 1;} /* 투명했던 애를 불투명하게 하겠다 */
}

.modal-header{
    background-color: #ecf0f1;
    height:30px;
}
.modal-body{
    word-break: break-all;
	padding: 2px 16px;
}
.closeText{

    position: relative;
    left: 35%;
    top: 20%;
}
.close{
    
	color: gray;
	float: right;
	font-size: 20px;
    margin: 0 10px 0 0 ;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
}